* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fafaf8;
  color: #141413;
}

main {
  padding: 30px 30px 10px;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  height: 80px;
  background-color: white;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

header > img {
  width: 50px;
}

header > h1 {
  font-weight: 400;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  min-height: 38px;
}

.add-ingredient-form > input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 420px;
}

.add-ingredient-form > button {
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 160px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.add-ingredient-form > button::before {
  content: "+";
  margin-right: 5px;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 28px;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #f0efeb;
  padding: 10px 28px;
  gap: 16px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #d17557;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
  white-space: nowrap;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li,
.suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.card-screen {
  background-color: #0c4a6e;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  background-color: white;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
}

.card .avatar {
  width: 100%;
  padding: 10%;
  padding-bottom: 0;
}

.card .name {
  margin-block: 13px;
  color: #333333;
}

.card .info {
  padding: 10px;
}

.card .favorite {
  width: 25px;
  cursor: pointer;
}

.card .contact {
  font-size: 0.75rem;
  color: gray;
  margin-block: 7px;
}

.card .favorite-button {
  border: none;
  background: transparent;
}

.card .favorite-button:active {
  transform: none;
  box-shadow: none;
}

.pad-screen {
  background-color: #1c1917;
  min-height: 100vh;
}

.pad-container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

.pad-container > .pad-button {
  height: 100px;
  width: 100px;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.pad-container > .pad-button.on {
  opacity: 1;
}

.pad-container > .pad-button.off {
  opacity: 0.15;
}

.pad-1 {
  background-color: #f18d8b;
}

.pad-2 {
  background-color: #f5c280;
}

.pad-3 {
  background-color: #eeec79;
}

.pad-4 {
  background-color: #64ed98;
}

.pad-5 {
  background-color: #63deed;
}

.pad-6 {
  background-color: #877fed;
}

.pad-7 {
  background-color: #a57fe9;
}

.pad-8 {
  background-color: #f289c1;
}

@media (max-width: 720px) {
  main {
    padding: 20px 16px;
  }

  .get-recipe-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .pad-container {
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 100px);
  }
}
